* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  outline: none;
}
:root {
  font-family: "Roboto", sans-serif;
  font-size: 0.785rem;
}

footer {
  color: white;
  bottom: 0;
  width: 100%;
  background-color: #544454;
  padding: 5em 1em;
}

.made {
  text-align: center;
}
.iconos {
  display: flex;
  justify-content: center;
  margin-bottom: 1em;
}
.iconos i {
  border: 10px solid #7da596;
  background-color: #7da596;
  border-radius: 90rem;
  margin-right: 10px;
}
